<h1 class="page-header" >Recipes</h1>

<!-- <div class="show-hide-message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div> -->


<button type="button" name="button" class="btn btn-warning" *ngIf="!newPost" (click)="newRecipeForm()">
  New Recipe
</button>
<button [disabled]="loadingPosts" type="button" name="button" class="btn btn-default" *ngIf="!newPost" (click)="reloadPosts()">
  <i class="fas fa-sync-alt"></i>&nbsp;&nbsp;Refresh
</button>

<br />
<br />

<!-- New Recipe Form -->
<form [formGroup]="form" name="RecipeForm" (submit)="onRecipeSubmit()" *ngIf="newPost">
  <!-- Recipe Name Input -->
  <div class="form-group">
    <label for="name">Recipe Name</label>
    <div [ngClass]="{'has-success': form.controls.name.valid, 'has-error': form.controls.name.dirty && form.controls.name.errors}">
      <input type="text" name="name" class="form-control" placeholder="Recipe Name" autocomplete="off" formControlName="name" />
      <ul class="help-block">
        <li *ngIf="form.controls.name.dirty && form.controls.name.errors?.required">Recipe name is required.</li>
        <li *ngIf="(form.controls.name.dirty && form.controls.name.errors?.minlength) || (form.controls.name.dirty && form.controls.name.errors?.maxlength)">Max length: 50, Min length: 3</li>
        <li *ngIf="form.controls.name.dirty && form.controls.name.errors?.validateName">Must be a letter or number</li>
      </ul>
    </div>
  </div>
  

</form>
<!-- End of Form -->

<div *ngIf = "!newPost">
  <div class="panel panel-primary">
    <div class="panel panel-heading">
      <h3 class="panel-title">Recipe Name</h3>
    </div>
    <div class="panel-body">
      dsjal;sdjf;alkfjs;jdk
    </div>
    <div class="panel-footer">
      <strong>Date </strong>June 21, 2018
      <br />
      <div>
        <strong>Likes: </strong>14
        <br />
        <strong>DisLikes: </strong>4
      </div>
      <a href="#"><button type="button" name="button" class="btn btn-sm btn-info">Edit</button></a>
      <a href="#"><button type="button" name="button" class="btn btn-sm btn-danger">Delete</button></a>

      <!-- Likes dropdown -->
      <div class="dropdown">
         <button type="button" name="button" class="btn btn-sm btn-success">
            <i class="fas fa-thumbs-up"></i>&nbsp;&nbsp;Likes: 2
         </button>
         <div class="dropdown-content">
           <a href="#">username1</a>
           <a href="#">username1</a>
           <a href="#">username1</a>
         </div>
      </div>   

      <!-- DisLikes dropdown -->
      <div class="dropdown">
          <button type="button" name="button" class="btn btn-sm btn-warning">
              <i class="fas fa-thumbs-down"></i>&nbsp;&nbsp;DisLikes: 2
          </button>
          <div class="dropdown-content">
            <a href="#">username1</a>
            <a href="#">username1</a>
            <a href="#">username1</a>
          </div>
        </div>   
      
      
    </div>
  </div>
</div>